 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  h1{
	font-size:20px;
	background-color: red;
  font-style: italic;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
   h1{
	font-size:30px;
	background-color: blue;
  font-style: normal;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
	font-size:40px;
	background-color: yellow;
font-style: oblique;
 }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
	font-size:50px;
	background-color: pink;
  font-style: italic;
   }
}
 
 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
   h1{
	font-size:60px;
	background-color: green;
  font-style: normal;
    }
}

 /* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
   h1{
   	font-size: 70px;
   }
}